body {
    background-color: black;

}

h2 {
    color: white;
}

h4 {
    color: white;
}

#desctlou2 {
    padding-top: 50px;
}

h3 {
    color: white;
}

#notasobreAbby {
    padding-top: 100px;
    color: lightpink;
}